body {
    background-image: url("../images/bannerLogin.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    background-color: rgb(33, 41, 66);
    border-radius: 9px;
    border-top: 10px solid #79a6fe;
    border-bottom: 10px solid #8BD17C;
    width: 360px;
    height: 500px;
    box-shadow: 1px 1px 108.8px 19.2px rgb(25, 31, 53);
    opacity: 85%;
}

.back{
    margin-right: 310px;
    color: aliceblue;
    font-size: 20px;
}
i{
    margin-top: 15px;
}

.con {
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 15px;
    color: #ffffff;
}

/* nút */
.create {
    display: inline-block;
    width: 180px;
    height: 40px;
    margin-top: 30px;
    border-radius: 15px;
    border: 1px solid #03045e;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    z-index: 1;
    background-color: rgb(243, 188, 111);
}

.create::before,
.create::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    -webkit-transform: skew(15deg);
    -ms-transform: skew(15deg);
    transform: skew(15deg);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
}

.create::before {
    left: -10px;
    background: #79a6fe;
}

.create::after {
    right: -10px;
    background: #8BD17C;
}

.create:hover::before,
.create:hover::after {
    width: 58%;
}

.create:hover span {
    color: #5c0c86;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.create span {
    color: #03045e;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

/* tài khoản mật khẩu */
.name {
    line-height: 40px;
    border: 2px solid transparent;
    border-bottom-color: rgb(243, 188, 111);
    padding: .2rem 0;
    outline: none;
    width: 280px;
    margin-top: 10px;
    background-color: transparent;
    color: #ffffff;
    font-size: 15px;
    -webkit-transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #29558b;
}

.name::-webkit-input-placeholder {
    color: #e4c748;
}

.name::-moz-placeholder {
    color: #e4c748;
}

.name:-ms-input-placeholder {
    color: #e4c748;
}

.name::-ms-input-placeholder {
    color: #e4c748;
}

.name::placeholder {
    color: #e4c748;
}

.name:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.name:focus::-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
}

.name:focus:-ms-input-placeholder {
    opacity: 0;
    -ms-transition: opacity .3s;
    transition: opacity .3s;
}

.name:focus::-ms-input-placeholder {
    opacity: 0;
    -ms-transition: opacity .3s;
    transition: opacity .3s;
}

.name:focus::placeholder {
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

#pass {
    line-height: 40px;
    border: 2px solid transparent;
    border-bottom-color: rgb(243, 188, 111);
    padding: .2rem 0;
    margin-top: 20px;
    width: 280px;
    outline: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 15px;
    -webkit-transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #29558b;
}

#pass::-webkit-input-placeholder {
    color: #e4c748;
}

#pass::-moz-placeholder {
    color: #e4c748;
}

#pass:-ms-input-placeholder {
    color: #e4c748;
}

#pass::-ms-input-placeholder {
    color: #e4c748;
}

.pass::placeholder {
    color: #e4c748;
}

#pass:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

#pass:focus::-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
}

#pass:focus:-ms-input-placeholder {
    opacity: 0;
    -ms-transition: opacity .3s;
    transition: opacity .3s;
}

#pass:focus::-ms-input-placeholder {
    opacity: 0;
    -ms-transition: opacity .3s;
    transition: opacity .3s;
}

#pass:focus::placeholder {
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}
#eye {
    color: #333;
    margin-left: -35px;
    padding: 15px 9px 19px 0px;
    cursor: pointer;
}